@media screen and (max-width: 480px){
    .product-img{
        width:100%;
    }
    header{
        width:100%;
    }
    header #logo,#top-menu,#cart{
        width:100%;
    }
    #section2 .feature div{
        width:100%;
    }
    #related-art .arts{
        width:100%;
    }
    .imgDiv{
        width:100%;
    }
    #img1,#img2,#img3{
        width:100%;
    }
}

