body {
  width: 100%;
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

ul li {
  display: inline;
}

ul li a {
  text-decoration: none;
  margin: 10px;
  color: #000;
}

ul li a:hover {
  border-bottom: 1px solid #000;
}

#cartNo {
  width: 20px;
  height: 20px;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 50% 50%;
  margin-left: 2px;
  margin-right: 10px;
  border: 1px solid transparent;
  text-align: center;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
  line-height: 2em;
}

.section1 #artHeading {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
}

.section1 p {
  line-height: 1.5em;
}

.section1 select {
  width: 250px;
  height: 40px;
  padding: 10px;
}

.section1 button {
  width: 250px;
  height: 40px;
  padding: 10px;
  color: #fff;
  background-color: #000;
  border: 1px solid transparent;
}

.product-img {
  background-color: #ddd;
  width: 40%;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin: 15px;
  margin-left: 5px;
}

.section1 a {
  color: #000;
}

.product-img img {
  width: 80%;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

#section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
  padding: 5px;
  margin: 20px;
}

#section2 h1 {
  font-family: 'Playfair Display', serif;
}

#section2 .feature {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section2 img {
  width: 100%;
  height: 40%;
}

#section2 .feature div {
  margin: 5px;
}

article {
  width: 40%;
  padding: 30px;
}

#related-art {
  width: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
}

#img1, #img2, #img3 {
  width: 30%;
  height: 30%;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.imgDiv {
  background-color: #f1f1f1;
  border: 1px solid transparent;
  padding: 30px;
}

#section2 #related-art #related-head {
  font-family: 'Playfair Display', serif;
  text-align: center;
  width: 100%;
  font-size: 30px;
}

#related-art .arts {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 5px;
}

#related-art .arts h2 {
  font-family: 'Playfair Display', serif;
}

#section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 50px;
  padding: 30px;
}

#section3 #contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

#section3 #contact a {
  text-decoration: none;
  color: #000;
}

#section3 #subscribe button {
  width: 250px;
  height: 40px;
  padding: 10px;
  color: #000;
  background-color: #fff;
  border: 1px solid transparent;
  border-bottom: 1px solid #ccc;
}

#section3 #subscribe button a {
  text-decoration: none;
  color: #000;
  padding: 5px;
}

#section3 #follow-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

#section3 #subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

hr {
  width: 80%;
  position: center;
}

#section3 #head {
  font-family: 'Playfair Display', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  text-align: center;
  font-size: 16px;
}

footer {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
  font-size: 10px;
  color: #747373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 130px;
  padding-right: 130px;
}
/*# sourceMappingURL=style.css.map */