body{
    width:100%;
    min-height:100vh;
    
    
}
@mixin text{
    font-family:'Playfair Display', serif;

}
@mixin text2{
    font-family:sans-serif;
    font-size:15px;
    font-weight: lighter;;
}
@mixin content{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;

}
header{
    @include content();
    min-height:100px;
    @include text2();
    justify-content: space-between;
    padding:5px;
} 
ul li{
    display: inline;
}
ul li a{
    text-decoration : none;
    margin : 10px;
    color:#000;
}
ul li a:hover{
   border-bottom : 1px solid #000;
}
#cartNo{
    width:20px;
    height:20px;
    background-color:#000;
    color:#fff;
    padding:10px;
    border-radius:50% 50%;
    margin-left:2px;
    margin-right:10px;
    border:1px solid transparent;
    text-align:center
}
.section1{
 @include content();
 @include text2();
 line-height:2em;
}
.section1 #artHeading{
    @include text();
    font-size:25px;
}
.section1 p{
    line-height:1.5em;
}
.section1 select{
    width:250px;
    height:40px;
    padding:10px;
}
.section1 button{
    width:250px;
    height:40px;
    padding:10px;
    color:#fff;
    background-color:#000;
    border:1px solid transparent;
}
.product-img{
    background-color:#ddd;
    width: 40%;
    min-height:80vh;
    @include content();
    padding:20px;
    margin:15px;
    margin-left:5px;
     
}
.section1 a{
    color:#000;
}
.product-img img{
width:80%;
box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
 
}
#section2{
    @include content();
    @include text2();
    padding:5px;
    margin:20px;
}
#section2 h1{
    @include text();
}
#section2 .feature{
    width:100%;
    @include content();
}

#section2 img{
    width:100%;
    height:40%
}
#section2 .feature div {
    margin:5px;
}
article{
    width:40%;
   padding:30px;
}
#related-art{
    width:100%;
    padding:30px;
    @include content();
    @include text2();
}
#img1,#img2,#img3{
  width:30%;
  height:30%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
 
}
.imgDiv{
    background-color:rgb(241, 241, 241);
    border:1px solid transparent;
    padding:30px;
}

#section2 #related-art #related-head{
   @include text();
   text-align:center;
   width:100%;
   font-size:30px;
}
#related-art .arts{
    width:30%;
    @include content;
    text-align:center;
    margin:5px;
}
#related-art .arts h2{
    @include text();
}
#section3{
    @include content();
    @include text2();
    margin-bottom:50px;
    padding:30px;
}
#section3 #contact{
    @include content();
    width:20%;
    text-align:center;
    margin:10px;
    padding:20px;
}
#section3 #contact a{
    text-decoration: none;
    color:#000;
}
#section3 #subscribe button{
    width:250px;
    height:40px;
    padding:10px;
    color:#000;
    background-color:#fff;
    border:1px solid transparent;
    border-bottom:1px solid #ccc;
}
#section3 #subscribe button a{
    text-decoration: none;
    color:#000;
    padding:5px;
}
#section3 #follow-me{
    @include content();
    width:20%;
    text-align:center;
    margin:10px;
    padding:20px;
}
#section3 #subscribe{    
        @include content();
        width:20%;
        text-align:center;
        margin:10px;
        padding:20px;
}
hr{
    width:80%;
    position: center;
}
#section3 #head{
    @include text();
    @include content();
    width:30%;
    text-align:center;
    font-size:16px;
}
footer{
    @include text2();
    font-size:10px;
    color:rgb(116, 115, 115);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    padding-left:130px;
    padding-right:130px;
}